<body>
  <h1>Bem vindo à biblioteca</h1>
  <h2 class="caption">Qual livro te interessa no momento?</h2>
  <div id="books" class="row row-cols-3">
    <% @books.each do |book| %>
    <div class="col d-flex">
      <%= render book, show_details: false %>
      <%= link_to "Ver livro", book %>
    </div>
    <% end %>
  </div>
</body>