<div>
<p style="color: green"><%= notice %></p>

<% content_for :title, "Books" %>

<h1>Livros</h1>

<div id="books">
  <% @books.each do |book| %>
    <%= render book %>
    <p>
      <%= link_to "Ver livro", book %>
    </p>
  <% end %>
</div>

<%= link_to "Novo livro", new_book_path %>
</div>