<div id="<%= dom_id book_copy %>">
  <div>
    <strong>Heritage code:</strong>
    <%= book_copy.heritage_code %>
  </div>

  <div>
    <strong>Status:</strong>
    <%= book_copy.status %>
  </div>

  <div>
    <strong>Book:</strong>
    <%= book_copy.book_id %>
  </div>

</div>
