// Bootstrap e icons já carregados via CDN em app/views/layouts/application.html.erb

// // Variables e configurações
// @import "base/variables";

// Componentes
@import "components/navbar";
// @import "components/card";

// // Páginas
// // @import "pages/books";
// // @import "pages/loans";
// // @import "pages/users";