name: CI

on:
  pull_request:
  push:
    branches: [ master ]

jobs:
  scan_ruby:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Fix bin permissions
        run: chmod +x bin/*

      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - name: Scan Rails security issues
        run: bin/brakeman --no-pager --confidence-level 2


      - name: Scan gem vulnerabilities
        run: bin/bundler-audit

  scan_js:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Fix bin permissions
        run: chmod +x bin/*

      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - name: Scan JS dependencies
        run: bundle exec rails importmap:audit || true


  lint:
    runs-on: ubuntu-latest
    env:
      RUBOCOP_CACHE_ROOT: tmp/rubocop
    steps:
      - uses: actions/checkout@v4

      - name: Fix bin permissions
        run: chmod +x bin/*

      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - name: Prepare RuboCop cache
        uses: actions/cache@v4
        env:
          DEPENDENCIES_HASH: ${{ hashFiles('.ruby-version', '**/.rubocop.yml', '**/.rubocop_todo.yml', 'Gemfile.lock') }}
        with:
          path: ${{ env.RUBOCOP_CACHE_ROOT }}
          key: rubocop-${{ runner.os }}-${{ env.DEPENDENCIES_HASH }}
          restore-keys: rubocop-${{ runner.os }}-

      - name: Run RuboCop
        run: bin/rubocop -f github

  test:
    runs-on: ubuntu-latest
    services:
      mysql:
        image: mysql
        env:
          MYSQL_ALLOW_EMPTY_PASSWORD: true
        ports: [ "3306:3306" ]
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3

    steps:
      - name: Install packages
        run: sudo apt-get update && sudo apt-get install -y default-libmysqlclient-dev node-gyp

      - uses: actions/checkout@v4

      - name: Fix bin permissions
        run: chmod +x bin/*

      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - name: Run tests
        env:
          RAILS_ENV: test
          DATABASE_URL: mysql2://127.0.0.1:3306
        run: bin/rails db:drop db:create db:migrate test

  system-test:
    runs-on: ubuntu-latest
    services:
      mysql:
        image: mysql
        env:
          MYSQL_ALLOW_EMPTY_PASSWORD: true
        ports: [ "3306:3306" ]
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3

    steps:
      - name: Install packages
        run: sudo apt-get update && sudo apt-get install -y default-libmysqlclient-dev node-gyp

      - name: Install Chrome
        run: sudo apt-get install -y chromium


      - uses: actions/checkout@v4

      - name: Fix bin permissions
        run: chmod +x bin/*

      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - name: Run system tests
        env:
          RAILS_ENV: test
          DATABASE_URL: mysql2://root@127.0.0.1:3306
        run: bin/rails db:drop db:create db:migrate test:system

      - name: Upload screenshots on failure
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: screenshots
          path: tmp/screenshots
          if-no-files-found: ignore
